@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content
{
    width: 0;
    position: relative;
    top: 25%;
    left: 40%;
}

h2
{
    margin-top: 20px;
    font-family: 'Dancing Script', cursive;
}
b
{
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    color: #ff4eb5;
}
span
{
    font-size: 70%;
    font-family: Arial, Helvetica, sans-serif;
    color: #00aeff;
}
.content
{
    position: absolute;
    border-right: 10px solid rgb(192, 188, 183);
    width: 400px;
    height: 500px;
    background: rgb(216, 211, 211);
    transform-style: preserve-3d;
    transform: perspective(2000px) rotate(-15deg);
    border-radius: 7px;
    transition: 1s;
}
.content:hover
{
    transform: translate(-10%, -10%) perspective(2000px);
}
.content:before
{
    content: '';
    position: absolute;
    top: -5px;
    left: 0px;
    width: 100%;
    height: 5px;
    background: #ff97e5;
    transform-origin: bottom;
    transform: skewX(-45deg);
}
.content:after
{
    content: '';
    position:absolute;
    top: 0px;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #ff97e5;
    transform-origin: left;
    transform: skewY(-45deg);
}
.content .image
{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(180, 150, 150);
    border-right: 10px;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.content:hover .image
{
    transform: rotateY(-135deg);
}
.word
{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}

